@model PagedList.IPagedList<IEPprojekat.Models.Order>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>My orders</h2>


<table class="table">
    <tr>
       
        <th>
            Number of tokens:
        </th>
        <th>
            Price in current currency;
        </th>
        <th>
           Current state:
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTokens)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentState)
            </td>

        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
            new { page }))

